<h1>Welcome to Mega Car Simulator</h1>
<p>Enter your details below.</p>
<form action="/car_maker/make_car" method="get">
  <p>
    <label for="make_input">Make:</label>
    <input type="text" id="make_input" name="make_input" required/>
  </p>
  <p>
    <label for="year_input">Year:</label>
    <input type="number" id="year_input" name="year_input" required/>
  </p>
  <p>
    <input type="submit"/>
  </p>
</form>
